<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linzeming.proxypool.crawler.mapper.ProxyIpMapper">

    <!--    &lt;!&ndash; 开启二级缓存 &ndash;&gt;-->
    <!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linzeming.proxypool.crawler.model.ProxyIp">
        <id column="id" property="id"/>
        <result column="ip" property="ip"/>
        <result column="port" property="port"/>
        <result column="country" property="country"/>
        <result column="city" property="city"/>
        <result column="is_https" property="isHttps"/>
        <result column="anonymity" property="anonymity"/>
        <result column="connection_speed" property="connectionSpeed"/>
        <result column="gmt_last_validate" property="gmtLastValidate"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ip, port, country, city, is_https, anonymity, connection_speed, gmt_last_validate, gmt_create, gmt_modified
    </sql>


    <insert id="insertNewProxyIpIgnoreIntoBatch" parameterType="java.util.List">
        INSERT IGNORE INTO
        proxy_ip
        (
        ip, port, country, city
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.ip},
            #{item.port},
            #{item.country},
            #{item.city}
            )
        </foreach>
    </insert>

    <insert id="insertNewProxyIpIgnoreInto" parameterType="com.linzeming.proxypool.crawler.model.ProxyIp">
        INSERT IGNORE INTO proxy_ip (ip, port,country,city) VALUES
        (
        #{ip},
        #{port},
        #{country},
        #{city}
        )
    </insert>



</mapper>
